<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context      
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
 	<context:annotation-config/>
    <bean name="c" class="com.xupt.pojo.Category">
        <property name="name" value="category 1" />
    </bean>
 
 	<bean name="p" class="com.xupt.pojo.Product">
 		<property name="name" value="jiangyou"/>
 		<!-- <property name="category" ref="c" /> -->
 	</bean>
 	
<!-- 	<bean name="s" class="com.xupt.service.ProductService">
 	</bean>
 	
 	<bean id="loggerAspect" class="com.xupt.aspect.LoggerAspect"/>
 	
 	<bean id="performerAspect" class="com.xupt.aspect.PerformerAspect"/>
 	
 	<aop:config>
 		<aop:pointcut id="loggerCutpoint"
 			expression=
 		"execution(* com.xupt.service.ProductService.*(..))"/>
 		
 		<aop:aspect id="logAspect" ref="loggerAspect">
 			<aop:around pointcut-ref="loggerCutpoint" method="log"/>
 		</aop:aspect>
 		
 		<aop:aspect id="performAspect" ref="performerAspect">
 			<aop:around pointcut-ref="loggerCutpoint" method="spend"/>
 		</aop:aspect>
 	</aop:config> 
 --> 
 	<context:component-scan base-package="com.xupt.aspect"/>
 	<context:component-scan base-package="com.xupt.service"/>
 	<aop:aspectj-autoproxy/> 	
</beans>