<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="person" class="com.xupt.setter.Person">
		<property name="pname" value="jack"></property>
		<property name="age">
			<value>1234</value>
		</property>
		<property name="homeAddr" ref="homeAddr"></property>
		<property name="companyAddr">
			<ref bean="companyAddr"/>
		</property>
	</bean>
	
	<bean id="homeAddr" class="com.xupt.setter.Address">
		<property name="addr" value="阜南"></property>
		<property name="tel" value="911"></property>
	</bean>
	
	<bean id="companyAddr" class="com.xupt.setter.Address">
		<property name="addr" value="北京八宝山"></property>
		<property name="tel" value="119"></property>
	</bean>
 </beans>