<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- scope默认为singleton -->
 	<bean id="collData" class="com.xupt.collections.CollData">
 		<property name="arrayData">
 			<array>
 				<value>DS</value>
 				<value>DZD</value>
 				<value>屌丝</value>
 				<value>屌中屌</value>
 			</array>
 		</property>
 		<property name="listData">
 			<list>
 				<value>王腾</value>
 				<value>张本</value>
 				<value>郭浩宇</value>
 				<value>员晨晖</value>
 			</list>
 		</property>
 		<property name="setData">
 			<set>
 				<value>霆锋</value>
 				<value>博智</value>
 				<value>冠希</value>
 			</set>
 		</property>
 		<property name="mapData">
 			<map>
 				<entry key="jack" value="杰克"></entry>
 				<entry>
 					<key><value>rouse</value></key>  <!-- 键为默认类型 -->
 					<value>肉丝</value>
 				</entry>
 			</map>
 		</property>
 		<property name="propsData">
 			<props>
 				<prop key="高富帅">嫐</prop>
 				<prop key="白富美">嬲</prop>
 				<prop key="男屌丝">挊</prop>
 			</props>
 		</property>
 	</bean>
 </beans>